.card {
  padding: 20px;
  height: 460px;
  text-align: center;
  align-items: center;
  background-color: rgb(58, 18, 99);
  color: rgb(255, 253, 253);
  border: 5px solid rgb(32, 10, 53);
  border-radius: 10px;
}
.card-text {
  padding-top: 10px;
  font-size: 20px;
}

.card:hover {
  border: 5px solid rgb(101, 7, 85);
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(141, 10, 84, 0.6);
}

.image-card {
  width: 250px;
  height: 200px;
  border: 10px solid rgb(170, 122, 214);
  border-radius: 10px;
  box-shadow: 5px 5px black;
}

a {
  text-decoration: none;
}
