<div class="row row-cols-1 row-cols-md-3 g-6">
  <a routerLink="/pipes">
    <div class="col">
      <div class="card">
        <img
          src="./../../../../assets/img/pipe.png"
          class="img-fluid image-card"
          alt="..."
        />
        <div class="card-body">
          <h2 class="card-title">Pipes</h2>
          <p class="card-text">
            Nessa sessão irei mostrar alguns pipes criados por mim. A idéia é
            fazer alguns pipes que podem ser utilizados em projetos futuros,
            além é claro de poder por em prática os conhecimentos aprendidos.
          </p>
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/validators">
    <div class="col">
      <div class="card">
        <img
          src="./../../../../assets/img/validator.png"
          class="img-fluid image-card"
          alt="..."
        />
        <div class="card-body">
          <h2 class="card-title">Validators</h2>
          <p class="card-text">
            Nessa sessão você irá ver um pouco sobre os validators e alguns que
            fiz como parte do desafio proposto pelo Dr. Danilo
          </p>
        </div>
      </div>
    </div>
  </a>
  <a [routerLink]="['sobre']">
    <div class="col">
      <div class="card">
        <img
          src="./../../../../assets/img/aboutus.svg"
          class="img-fluid image-card"
          alt="..."
        />
        <div class="card-body">
          <h2 class="card-title">About Us</h2>
          <p class="card-text">
            Caso queira perguntar algo, elogiar , xingar ou mesmo só fazer
            contato, essa parte fala um pouco sobre nós.
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
