<div class="content">
  <h1 class="content__title">BEM VINDO AO DESAFIO DO DANILO!!</h1>
  <p>
    Tentei trazer nessa página tudo aquilo que aprendi durante os primeiros
    meses de estágio. Desde já agradeço ao principal colaborador para que isso
    acontecesse, meu mestre Danilo.
  </p>
  <div class="content__image">
    <a href="https://github.com/andrelula78/desafio-danilo">
      <img style="width: 
      80px;" src="../../../../assets/img/icon-git.png" alt="icone gitHub"/>
    </a>
  </div>
  <p>
    Clique na imagem acima e você será redirecionado para o meu GitHub, lá você
    poderá encontrar esse projeto e outros mais. Ah ! o nome desse projeto é
    "desafio-danilo" porque foi um exercício proposto por ele.
  </p>
  <app-card></app-card>

</div>
