<div class="content">
  <h1 class="content__title">BEM VINDO !!</h1>
  <p>
    Tentei trazer nessa página tudo aquilo que aprendi durante os primeiros
    meses de estágio. Desde já agradeço ao principal colaborador para que isso
    acontecesse, meu mestre Danilo.
  </p>
  <div class="content__image">
    <a href="https://github.com/andrelula78/desafio-danilo"
      ><img src="../../../../assets/img/icon-git.png" alt=""
    /></a>
  </div>
  <p>
    Clique na imagem acima e você será redirecionado para o meu GitHub, lá você
    poderá encontrar esse projetos e outros. Ah ! o nome desse projeto é
    "desafio-danilo".
  </p>
</div>
