<div class="content">
  <h1 class="content__title">PIPES</h1>
  <div class="content__text">
    <p>
      Angular Pipes transforma a saída. Você pode pensar neles como salas de
      maquiagem onde eles embelezam os dados em um formato mais desejável. Eles
      não alteram os dados, mas alteram a forma como eles aparecem para o
      usuário.
    </p>

    <img
      class="img-fluid img-thumbnail"
      style="float: left; margin: 20px"
      src="../../../../assets/img/Angular_Pipes.png"
      alt=""
    />

    <p>
      Tecnicamente, pipes são funções simples projetadas para aceitar um valor
      de entrada, processar e retornar um valor transformado como saída. Angular
      já vem com muitos tipos de pipes como default, prontos para usar. No
      entanto, você também pode criar tubos personalizados que atendam às suas
      necessidades.
    </p>

    <p>
      Tendo em vista o que aprendi durante os cursos e no estágio, segue abaixo
      alguns exemplos de pipes que podem ser criados e utilizados em vários
      outros projetos diferentes caso necessite.
    </p>
  </div>
  <h2 style="margin: 50px 0px;">Pipes Customizados:</h2>

  <app-accordion></app-accordion>
</div>
